{% extends 'yoga/coach/lk_coach_header.html' %}
{% load static %}
{% block coach_content %}
<div class="container py-4">
<h2 class="text-center mb-4" style="font-family: 'Montserrat', sans-serif; font-weight: 700; color: #2c3e50; text-transform: uppercase; letter-spacing: 1.5px; position: relative; padding-bottom: 15px;">
        Запросы на коучинг
        <span style="display: block; width: 80px; height: 4px; background: linear-gradient(90deg, #3498db, #9b59b6); margin: 10px auto 0; border-radius: 2px;"></span>
    </h2>

    {% if coaching_requests %}
        <table class="table">
            <thead>
                <tr>
                    <th>Trainee</th>
                    <th>Description</th>
                    <th>Статус</th>
                     <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for request in coaching_requests %}
                    <tr>
                        <td>
                            <a href="{% url 'yoga:get_coach_request_trainee_info' request.trainee.id %}" class="text-decoration-none">
                                @{{ request.trainee.username }}
                            </a>
                        </td>
                        <td>{{ request.description }}</td>
                        <td>
                            {% if request.accepted %}
                                <span class="text-success">Принят</span>
                            {% elif request.expired %}
                                <span class="text-danger">Отклонен</span>
                            {% else %}
                                <span class="text-warning">На рассмотрении</span>
                            {% endif %}
                        </td>
                        <td>
                           {% if not request.accepted and not request.expired %}
                                <div class="d-flex">
                                   <form method="post" action="{% url 'yoga:accept_coaching_request' request.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success mr-2">Принять</button>
                                    </form>
                                     <form method="post" action="{% url 'yoga:decline_coaching_request' request.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Отклонить</button>
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Нет запросов на коучинг.</p>
    {% endif %}
{% endblock coach_content %}
    </div>