{% extends 'yoga/coach/lk_coach_header.html' %}
{% load static %}
{% block coach_content %}
<h2 class="text-center mb-4">Запросы на личные тренировки</h2>

{% if training_requests %}
        <table class="table">
            <thead>
                <tr>
                    <th>Trainee</th>
                    <th>Description</th>
                    <th>Статус</th>
                     <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for request in training_requests %}
                    <tr>
                        <td>{{ request.trainee.username }}</td>
                        <td>{{ request.description }}</td>
                        <td>
                            {% if request.accepted %}
                                <span class="text-success">Выполнен</span>
                            {% elif request.expired %}
                                <span class="text-danger">Отклонен</span>
                            {% else %}
                                <span class="text-warning">В процессе</span>
                            {% endif %}
                        </td>
                        <td>
                           {% if not request.accepted and not request.expired %}
                                <div class="d-flex">
                                   <form method="get" action="{% url 'yoga:create_training_by_request' request.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success mr-2">Создать тренировку</button>
                                    </form>
<!--                                     <form method="post" action="{% url 'yoga:decline_coaching_request' request.id %}">-->
<!--                                        {% csrf_token %}-->
<!--                                        <button type="submit" class="btn btn-danger">Отклонить</button>-->
<!--                                    </form>-->
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Нет запросов на тренировки</p>
    {% endif %}

{% endblock coach_content %}