asgiref==3.8.1
black==25.1.0
bottle==0.13.2
cffi==1.17.1
click==8.1.8
clr_loader==0.2.7.post0
colorama==0.4.6
crispy-bootstrap4==2024.10
Django==4.2.17
django-crispy-forms==2.3
flake8==7.1.1
isort==6.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
Pillow==8.2.0
platformdirs==4.3.6
proxy_tools==0.1.0
psycopg2-binary==2.8.6
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
pythonnet==3.0.5
pytz==2024.2
pywebview==5.3.2
sqlparse==0.5.1
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2024.2
python-dotenv===1.0.1
gunicorn==20.0.4