{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">Статистика тренировки</h2>
            <p><b>Название тренировки:</b> {{ training.name }}</p>
            <p><b>Время начала:</b> {{ workout_statistic.start_time }}</p>
            <p><b>Время окончания:</b> {{ workout_statistic.end_time }}</p>
            <p><b>Продолжительность:</b> {{ duration_minutes }} минут {{remaining_seconds}} секунд</p>
            <p><b>Количество упражнений:</b> {{ exercise_count }}</p>
            <p class="mt-3 text-center"><b>Вы молодец!</b></p>
            <img src="{% static 'img/success.jpg' %}" alt="Success Image" width="350" height="300">
             </div>
            <a href="{% url 'yoga:trainee_statistics' %}" class="btn btn-success mt-3">Посмотреть статистику</a>

    </div>
</div>
{% endblock %}