{% extends 'yoga/lk_trainee_header.html' %}
{% load static %}
{% block trainee_content %}

<div class="row">
        <div class="col-md-2">
            {% if request.user.coach.avatar %}
                <img src="{{ request.user.avatar.url }}" alt="Аватар" class="img-fluid mb-3 rounded-circle" style="max-width: 200px; max-height: 200px; object-fit: cover;">
            {% else %}
                <img src="{% static 'img/default_avatar.png' %}" alt="Аватар" class="img-fluid mb-3 rounded-circle" style="max-width: 200px; max-height: 200px; object-fit: cover;">
            {% endif %}
        </div>
        <div class="col-md-8 pb-5">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Ваш тренер</h5>
                {% if request.user.coach %}
                        <p class="card-text"><strong>Имя:</strong> {{ request.user.coach.first_name }}</p>
                        <p class="card-text"><strong>Фамилия:</strong> {{ request.user.coach.last_name }}</p>
                        <p class="card-text"><strong>Имя пользователя:</strong> {{ request.user.coach.username }}</p>
                {% else %}
                    <div class="col-md-12 mt-4">
                        <p>У вас нет тренера.</p>
                    </div>
                {% endif %}
                <br>
            </div>
    </div>
</div>

    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title mb-4 text-center">Запросы на изменение тренера</h5>
            <div class="mb-3">
                {% if coaching_requests %}
                    <ul class="list-group">
                        {% for request in coaching_requests %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ request.coach.first_name }} {{ request.coach.last_name }}
                        <span class="badge {{ request.accepted|yesno:'bg-success, bg-danger' }}">{{ request.accepted|yesno:'Принят, На рассмотрении' }}</span>
                        <small>Создан: {{ request.created|date:"d.m.Y H:i" }}</small>
                        <form method="post" action="{% url 'yoga:delete_coaching_request' request.id %}" style="margin-left:10px;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                        </form>
                    </li>
                {% endfor %}
                    </ul>
                {% else %}
                    <p>У вас нет активных запросов.</p>
                {% endif %}
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title text-center mb-4">Выбрать или изменить тренера</h5>
            <div class="row">
                {% for coach in coaches %}
                <div class="col-md-2">
            {% if coach.avatar %}
                <img src="{{ coach.avatar.url }}" alt="Аватар" class="img-fluid mb-3 rounded-circle" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;">
                    {% else %}
                <img src="{% static 'img/default_avatar.png' %}" alt="Аватар" class="img-fluid mb-3 rounded-circle" style="max-width: 200px; max-height: 200px; object-fit: cover;">
            {% endif %}
            </div>
                    <div class="col-md-4 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ coach.first_name }} {{ coach.last_name }}</h5>
                                <p class="card-text"><strong>Электронная почта:</strong> {{ coach.email }}</p>
                                <p class="card-text"><strong>Образование:</strong> {{ coach.info.education|default:"Не указано" }}</p>
                                <p class="card-text"><strong>Опыт работы:</strong> {{ coach.info.work_experience|default:"Не указано" }}</p>
                                <p class="card-text"><strong>О себе:</strong> {{ coach.info.bio|default:"Не указано" }}</p>

                                <form method="post">
                                    {% csrf_token %}
                                     <input type="hidden" name="coach_id" value="{{ coach.id }}">
                                    <button type="submit" class="btn btn-primary">Выбрать</button>
                                 </form>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Пока нет тренеров.</p>
                {% endfor %}
            </div>
        </div>

        <div class="card-footer">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if coaches_page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo; First</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ coaches_page.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for i in coaches_page.paginator.page_range %}
                         <li class="page-item {% if coaches_page.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if coaches_page.has_next %}
                        <li class="page-item">
                             <a class="page-link" href="?page={{ coaches_page.next_page_number }}" aria-label="Next">
                               <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                           <a class="page-link" href="?page={{ coaches_page.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">Last &raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>


{% endblock %}

<script>
         swal({
                title: "Сообщения", // Заголовок
                text: " {{ message }}",
                icon: "info", // Тип уведомления
                button: "Закрыть", // Текст кнопки
            });
    </script>
