  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
      <!-- Главный экран -->
      {% include 'includes/welcome.html' %}
      <!-- О студии -->
      {% include 'includes/about.html' %}

      <!-- Блок с тренировками -->
      {% if not COACH %}
      <section id="classes" class="py-5">
        <div class="container">
            <!-- Общие тренировки -->
            {% include 'trainings/base_trainings.html' %}

            <!-- Персональные тренировки -->
            {% if TRAINEE %}
              {% include 'trainings/personal_trainings.html' %}
            {% endif %}
        </div>
      </section>
      {% endif %}

      <!-- Контакты -->
      {% include 'includes/contact_form.html' %}
  {% endblock content %}