  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
      <!-- Главный экран -->
      {% include 'includes/welcome.html' %}
      <!-- О студии -->
        {% if not trainee and not coach%}
            {% include 'includes/about.html' %}
        {% endif %}
      <!-- Блок с тренировками -->
      {% if not coach %}
      <section id="classes" class="py-5">
        <div class="container">
            <!-- Общие тренировки -->
            {% include 'trainings/base_trainings.html' %}

            <!-- Персональные тренировки -->
            {% if trainee %}
              {% include 'trainings/personal_trainings.html' %}
            {% endif %}
        </div>
      </section>
      {% endif %}


{% if coach %}
    {% include 'yoga/coach/coach_trainees.html' %}
  {% endif %}

  {% endblock content %}