  {% extends 'base.html' %}
  {% block content %}

      <!-- Классы -->
      <section id="classes" class="py-5">
        <div class="container">
          <h2 class="text-center mb-4">{% if trainings %}Ваши тренировки{% else %}У вас нет тренировок{% endif %}</h2>
          <div class="row">
            {% for training in trainings %}
              <div class="col-md-4">
              <div class="card service-card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Йога для начинающих">
                <div class="card-body">
                  <h5 class="card-title">Какое-то занятие</h5>
                  <p class="card-text">Описание для тренировки от {{ training.day }}</p>
                  <a href="#" class="btn btn-primary">Пройти тренировку</a>
                </div>
              </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
      {% include 'includes/contact_form.html' %}
  {% endblock content %}